<section>
  <div class="container">
   <div class="row pt-5">
       <a href="/add-product" class="btn btn-warning ml-auto">Add Product</a>
   </div>
    <table class="table mt-3" id="productsTable">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Catagory</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
          {{#each products}}
          <tr>
              <td>{{this.Name}}</td>
              <td>{{this.Catagory}}</td>
              <td>{{this.Prize}}</td>
              <td>{{this.Description}}</td>
              <td>
                  <a href="/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
                  <a href="/delete-product/{{this._id}}" class="btn btn-danger">Delete</a>
              </td>
            </tr>
              {{/each}}    
      </tbody>
      </table>
      </div>
      </section>
